.env
.venv

chroma_db/
chroma_data/
data/
*.pdf

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

__pycache__/
*.pyc
.pytest_cache/

.DS_Store
.vscode/

old_req
docker-compose.override.yml
chroma_db_local/
